<div class="repo_container">
<div class="actions">
  <span class="tree_action expand" title="expand all" ><img class="expand" /></span>
  <span class="tree_action collapse" title="collapse all" ><img class="collapse" /></span>
</div>
<table class="treegrid">
  <tr class="row">
    <td>
      <div>
        <span class="octicon octicon-git-branch"></span>{{#with root}}
        <a class="name" href="{{href}}">{{name}}</a>{{/with}}
      </div>
    </td>
  </tr>{{#each tree}}
  <tr data-path="{{path}}" data-level="{{level}}" class="row"{{#unless visible}} style="display: none;"{{/unless}}>
    <td {{#if indent}} style="padding-left: {{indent}}px;"{{/if}}>
      <div>
        <span class="octicon state {{state}}"></span><a class="name" href="{{href}}">{{name}}</a>
      </div>
    </td>
  </tr>{{/each}}
</table>
</div>
